#Client ignores
Client/target/*
Server/target/*
Server/target/classes/com/mycompany/server/Server.class
Server/target/classes/com/mycompany/server/controller/ServerController.class
Server/target/classes/com/mycompany/server/dao/FileDAO.class
Server/target/classes/com/mycompany/server/integration/RabbitMQManager.class
Server/target/classes/com/mycompany/server/model/FileMetadata.class
Server/target/classes/com/mycompany/server/service/FileService.class
Server/target/classes/com/mycompany/server/service/RabbitMQNotificationService.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataJPG.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataPDF.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataText.class
Server/target/classes/com/mycompany/server/utils/DBConnection.class
Server/target/classes/com/mycompany/server/utils/FileUtils.class
Server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Server/target/Server-1.0-SNAPSHOT.jar
Server/target/classes/com/mycompany/server/Server.class
Server/target/classes/com/mycompany/server/controller/ServerController.class
Server/target/classes/com/mycompany/server/dao/FileDAO.class
Server/target/classes/com/mycompany/server/integration/RabbitMQManager.class
Server/target/classes/com/mycompany/server/model/FileMetadata.class
Server/target/classes/com/mycompany/server/service/FileService.class
Server/target/classes/com/mycompany/server/service/RabbitMQNotificationService.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataJPG.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataPDF.class
Server/target/classes/com/mycompany/server/service/getmetadata/impl/GetMetadataText.class
Server/target/classes/com/mycompany/server/utils/DBConnection.class
Server/target/classes/com/mycompany/server/utils/FileUtils.class
Client/.vscode
.github/
#Server ignores
Server/.vscode
Server/target/*
#general ignores
.devcontainer/*
*.lst
*.class
*.jar
